:root {
  /* ====== COLORS ====== */
  --clr-orange: #e28625;
  --clr-cyan: #26b5c0;
  --clr-green: #006971;

  --color-text-body: #ffffffbf;
  --color-bg-hd-btns: #f2f2f2;

  /* ====== TYPOGRAPHY ====== */
  --big-shoulders: "Big Shoulders", sans-serif;
  --lexend-deca: "Lexend Deca", sans-serif;

  --font-size-body: 0.9375rem; /* 15 px */
}

.sedan-card,
.suv-card,
.luxury-card {
  color: var(--color-text-body);
}

h2 {
  min-width: 231px;
  min-height: 48px;
  font-family: var(--big-shoulders);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
}

.sedan-card p,
.suv-card p,
.luxury-card p {
  font-family: var(--lexend-deca);
  font-weight: 400;
  font-size: 15px;
  line-height: 165%;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.sedan-card {
  background-color: var(--clr-orange);
}

.suv-card {
  background-color: var(--clr-cyan);
}

.luxury-card {
  background-color: var(--clr-green);
}

.sedan-card .btn,
.suv-card .btn,
.luxury-card .btn {
  padding: 8px 32px;
  gap: 8px;
  width: auto;
  min-width: 147px;
  background: var(--color-bg-hd-btns);
  border-radius: 25px;
  white-space: nowrap;
}

.sedan-card .btn {
  color: var(--clr-orange);
}

.suv-card .btn {
  color: var(--clr-cyan);
}

.luxury-card .btn {
  color: var(--clr-green);
}
